apiVersion: apps/v1
kind: Deployment
metadata:
  name: py-deploypment
  labels:
    app: python
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python

  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: pyservice:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-deploypment
  labels:
    app: go
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go

  template:
    metadata:
      labels:
        app: go
    spec:
      containers:
      - name: go
        image: goservice:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80